<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/DefaultLayout">

<th:block layout:fragment="css">
    <style>
        /*.demo-progress .el-progress&#45;&#45;line {
            margin-bottom: 15px;
            width: 350px;
        }*/
    </style>
</th:block>

<div layout:fragment="M_content" class="backgroundColor">
    <header class="bg-dark py-5">
        <div class="container"> &lt;!&ndash;px-4 px-lg-5 my-5&ndash;&gt;
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder" id="top">진 단</h1>
            </div>
        </div>
    </header>

    <template>
        <div style="text-align: left; font-size: x-large; color: #6a1a21; position: absolute">
            <template v-if="pageData.homeMoveCon">
                <el-button @click="dataSaveBeforeMoving()" class="buttonCss" style="margin-left: 10px; background-color: antiquewhite">
                    <img src="/img/home.png" class="logoutCss">
                </el-button>
            </template>
            <template v-else>
                <el-button @click="noSaveMoving()" class="buttonCss" style="margin-left: 10px; background-color: antiquewhite">
                    <img src="/img/home.png" class="logoutCss">
                </el-button>
            </template>
        </div>
        <div style="text-align: right; font-size: x-large; color: #6a1a21;">
            <img src="/img/manager.png" style="width: 43px; height: 40px; margin-right: 5px">
            <span style="vertical-align: middle; margin-right: 10px">{{ pageData.managerDataOfSession }}</span>
            <el-button @click="logout" class="buttonCss" style="margin-left: 10px; margin-right: 10px; background-color: antiquewhite">
                <img src="/img/logout.png" class="logoutCss">
            </el-button>
        </div>
        <div style="text-align: center">
            <div class="info-registration-title2">
                <div class="diagnosisStart">

                    <h3 style="position: absolute; margin-left: 10px">
                        고객 정보, <span>게스트</span>
                    </h3>
                    <hr style="margin-top: 0.2rem">
                    <div>
                        <div class="manager" style="display: inline-block">
                            <el-form ref="form" :model="pageData.dataList" label-width="120px">&lt;!&ndash; style="overflow-y: auto;" class="box"&ndash;&gt;
                                <p style="color: crimson; font-size: x-large">차량 정보</p>
                                <el-form-item label="차량 번호" style="float: left; margin-right: 20px">
                                    <el-input v-model="pageData.dataList.vehicleNo" maxlength="20" show-word-limit></el-input>
                                </el-form-item>

                                <el-form-item label="제조사">
                                    <el-select v-model="pageData.dataList.carMaker" @change="customerCarMakerCheck(pageData.vmlSwitch)">
                                        <el-option
                                                v-for="item in pageData.varCodeSelectBox"
                                                :key="item.codevalue"
                                                :label="item.codelabel"
                                                :value="item.codevalue">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="모델" style="float: left; margin-right: 20px">
                                    <el-select v-model="pageData.dataList.carName">
                                        <el-option
                                                v-for="item in pageData.vmlCodeSelectBox"
                                                :key="item.codevalue"
                                                :label="item.codelabel"
                                                :value="item.codevalue">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="연식">
                                    <el-select v-model="pageData.dataList.carYear">
                                        <el-option
                                                v-for="item in pageData.yearSelectBox"
                                                :key="item.year"
                                                :label="item.year"
                                                :value="item.year">
                                        </el-option>
                                    </el-select>
                                </el-form-item>


                                <el-form-item label="주행거리" style="float: left">
                                    <el-input type="text"
                                              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                              v-model="pageData.dataList.carMileage" maxlength="11" style="display: inline-block" show-word-limit>
                                    </el-input>
                                </el-form-item>
                            </el-form>
                            <br>
                        </div>
                        <div style="display: inline-block">
                            <img id="vehicle" src="" style="width: 450px; margin-left: 30px; position: absolute; top:40%">
                        </div>
                    </div>
                    <div class="manager">
                        <el-form ref="form" :model="pageData.diagnosisData" label-width="120px">&lt;!&ndash;style="overflow-y: auto;" class="box"&ndash;&gt;
                            <p style="color: crimson; font-size: x-large">진단</p>
                            <el-form-item label="시작 시간">
                                <p style="color: mediumblue; font-size: x-large">{{ pageData.diagnosisData.startTime }}</p>
                            </el-form-item>
                            <el-form-item label="경과 시간">
                                <p style="color: slateblue; font-size: xx-large">{{ pageData.diagnosisData.elapsedTime }}</p>
                            </el-form-item>
                            <el-form-item label="State Of Charge" style="text-align: -webkit-center">
                                <template>
                                    <el-progress
                                            :text-inside="true"
                                            :stroke-width="20"
                                            :percentage="pageData.diagnosisData.progressPercentage"
                                            status="exception"
                                            style="width: 25%"
                                    >
                                        <span>Content</span>
                                    </el-progress>
                                </template>
                            </el-form-item>
                            <template v-if="!pageData.reportSwitch">
                                <el-form-item label="메세지" style="text-align: -webkit-center">
                                    <p style="border: 2px solid black; padding: 10px; margin-bottom: 5px; width: 40%">{{ pageData.diagnosisData.message }} </p>
                                </el-form-item>
                            </template>
                        </el-form>
                    </div>
&lt;!&ndash;
                    <div class="manager" style="margin-bottom: 5px">
                        <el-form ref="form" :model="pageData.reportData" label-width="120px">&lt;!&ndash;style="overflow-y: auto;" class="box"&ndash;&gt;
                            <template v-if="pageData.reportSwitch">
                                <p style="color: crimson; font-size: x-large">Report</p>
                                <div>
                                    <div class="reportLayout">
                                        <el-form-item label="Health">
                                            <p style="color: green; font-size: xxx-large; margin-top: 5px">{{ pageData.reportData.soh }}</p>
                                        </el-form-item>
                                    </div>
                                    <div class="reportLayout">
                                        <el-form-item label="Rating">
                                            <p style="color: royalblue; font-size: xxx-large; margin-top: 5px">{{ pageData.reportData.grade }}</p>
                                        </el-form-item>
                                    </div>
                                    <div class="reportLayout">
                                        <el-form-item label="Charged">
                                            <p style="color: darkorange; font-size: xxx-large; margin-top: 5px">{{ pageData.reportData.soc }}</p>
                                        </el-form-item>
                                    </div>
                                </div>
                                <p style="font-size: small; padding: 10px">* Battery health is a measure of battery performance when the battery is in new condition.<br>
                                * Battery rating : S(>95%),  A(>90%),  B(>85%),  C(>80%),  D(80%>=)</p>
                            </template>
                        </el-form>
                    </div>&ndash;&gt;

                    <div slot="footer" class="dialog-footer" style="text-align:center">
                        &lt;!&ndash;진단 시작 전 : Start Diagnosis
                        진단 시작 후 : Stop Diagnosis
                        진단 종료 후 : Report&ndash;&gt;
                        <template v-if="pageData.buttonValue==0">
                            <el-button @click="startDiagnosis()" class="save">진단 시작</el-button>
                        </template>
                        <template v-else-if="pageData.buttonValue==3">
                            <el-button @click="startDiagnosis()" disabled="disabled">진단 시작</el-button>
                        </template>
                        <template v-else-if="pageData.buttonValue==1">
                            <el-button @click="stopDiagnosis()" class="save">진단 중지</el-button>
                        </template>
                        &lt;!&ndash;<template v-else-if="pageData.buttonValue==2">
                            <el-button @click="report()" class="save">Report</el-button>
                        </template>&ndash;&gt;
                        <template v-else></template>
                        <template v-if="pageData.reportSwitch">
                            <el-button @click="goConnectionPage()" class="save">돌아가기</el-button>
                        </template>
                        <template v-if="pageData.buttonValue==0">
                            <el-button @click="pageData.resetSort=true, resetDeviceStatus()" class="exit">진단 취소</el-button>
                        </template>
                        <template v-else-if="pageData.buttonValue!=0">
                            <el-button @click="pageData.resetSort=true, resetDeviceStatus()" disabled="disabled">진단 취소</el-button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        let localData = {
            managerDataOfSession: '', // 현재 세션의 관리자 아이디
            dataList: {},
            diagnosisData: { // 진단 시작 후 진단 중인 정보
                startTime: '',
                elapsedTime: '',
                progressPercentage: 0, // 프로그레스바 퍼센테이지를 지정
                message: '커넥터를 차량에 연결하고 "진단 시작"을 눌러주세요.'
            },
            resetSort: false, // 진단기 상태를 리셋할 때, 오류로 인한 리셋인지 Cancle 버튼으로 인한 리셋인지 구분
            buttonValue: 0, // 진단 시작 전, 후, 진단 종료 후, 진단 시도를 구분

            autoRun: false,
            intervalId: '',
            error10secondsCheck: false,
            statusCd: '',
            statusChange: false,
            mileageButton: false,
            homeMoveCon: false,

            recallData: {},
            reportSwitch: false,
            reportData: {},
            item: 'var',
            varCodeSelectBox: [],
            vmlCodeSelectBox: [],
            yearSelectBox: [],
            vmlSwitch: false
        }

        let localMethod = {
            report: function () {
                axiosGet("/api/diagnosis/report/"+vueApp.pageData.dataList.locid, null,
                    function (response) {
                        vueApp.pageData.reportData = response.data;
                        vueApp.pageData.reportData.soc = vueApp.pageData.reportData.soc.toString().substring(0, 5) + '%';
                        vueApp.pageData.reportData.soh = vueApp.pageData.reportData.soh.toString().substring(0, 5) + '%';
                        vueApp.pageData.reportSwitch = true;
                        vueApp.pageData.buttonValue = 4;
                    }
                )
                this.resetLeftTime();
            },


            startDiagnosis: function () {
                this.loading();
                this.pageData.buttonValue = 3;
                this.pageData.error15secondsCheck = false;
                this.pageData.statusChange = true;
                this.pageData.mileageButton = false;
                this.pageData.homeMoveCon = true;
                axiosPost("/api/diagnosis/guestTestStart", vueApp.pageData.dataList,
                    function () {
                        setTimeout(function () {
                            vueApp.pageData.autoRun = true;
                            vueApp.realTimeData();
                        }, 10000) // 진단기와 UDP 통신 후 tb_test_data에 값이 올라오는 것을 기다리기 위해 10초 대기
                    },
                    function (error) {
                        console.log(error.response);
                        alert("error : " + error.response.data.errorMessages[0]);
                    },
                    commonNotifyError
                )
                this.resetLeftTime();
            },
            realTimeData: function () {
                if(this.pageData.autoRun === false) {
                    return false;
                } else {
                    vueApp.pageData.intervalId = setInterval(function () {
                        vueApp.getRealTimeData();
                    }, 1000) // 1초마다 갱신
                }
            },
            getRealTimeData: function () {
                axiosGet("/api/diagnosis/startDtAndSocAndStatusCd", null,
                    function (response) {
                        console.log("reload");
                        console.log(response.data[0])
                        vueApp.pageData.buttonValue = 1;
                        vueApp.pageData.statusCd = response.data[0].statusCd;
                        vueApp.pageData.diagnosisData.progressPercentage = response.data[0].soc;
                        if(vueApp.pageData.diagnosisData.progressPercentage === null) {
                            // SOC값이 null, <= 즉, UDP를 통해 전달되지 않아 test_data DB에 값이 없는 상황
                            if(vueApp.pageData.error10secondsCheck === false) {
                                vueApp.pageData.error10secondsCheck = true;
                                clearInterval(vueApp.pageData.intervalId);
                                setTimeout(function () {
                                    vueApp.realTimeData();
                                }, 10000) // 10초 후 함수 재실행
                            } else {
                                vueApp.closeLoading();
                                clearInterval(vueApp.pageData.intervalId);
                                vueApp.pageData.diagnosisData.message = "서버와의 통신 오류가 발생했습니다. 다시 시도해주세요.";
                                //alert("Communication error with server. Please try again.");
                                vueApp.pageData.buttonValue = 0;
                                vueApp.pageData.mileageButton = true;
                                vueApp.pageData.homeMoveCon = false;
                            }
                        } else if(vueApp.pageData.statusCd === "3") { // 진단이 완료되면 인터벌 끝내고 메세지에 다음과 같이 표시
                            vueApp.closeLoading();
                            vueApp.pageData.autoRun = false;
                            clearInterval(vueApp.pageData.intervalId);
                            vueApp.pageData.diagnosisData.message = "진단이 성공적으로 종료되었습니다.\n진단 중지 버튼을 클릭해주세요.";
                            vueApp.pageData.mileageButton = true;
                            vueApp.pageData.homeMoveCon = false;
                        } else {
                            if(vueApp.pageData.statusChange === true) {
                                axiosPost("/api/system/device/statusTestingChange/"+vueApp.pageData.dataList.locid, null,
                                    function () {
                                        vueApp.pageData.statusChange = false;
                                    }
                                )
                            }
                            vueApp.closeLoading();
                            vueApp.pageData.diagnosisData.startTime = response.data[0].startDt;
                            let data = vueApp.pageData.diagnosisData.startTime;
                            vueApp.pageData.diagnosisData.startTime = vueApp.dateFormat(data);
                            vueApp.pageData.diagnosisData.elapsedTime = vueApp.elapsedTimeGet(data);

                            vueApp.pageData.diagnosisData.message = "진단이 시작되었습니다.";
                        }
                    },
                    function (error) {
                        console.log(error.response);
                        vueApp.pageData.diagnosisData.message = "진단 중 오류가 발생했습니다.";
                        //alert("error : " + error.response.data.errorMessages[0]);
                        vueApp.pageData.autoRun = false;
                        clearInterval(vueApp.pageData.intervalId);
                        vueApp.pageData.mileageButton = true;
                        vueApp.pageData.homeMoveCon = false;
                    },
                    commonNotifyError
                )
                this.resetLeftTime();
            },
            elapsedTimeGet: function (data) {
                // 시작 시간
                let start = new Date(data);
                let sm = start.getMinutes();
                let ss = start.getSeconds();

                // 현재 시간
                let now = new Date();
                let nm = now.getMinutes();
                let ns = now.getSeconds();

                // Minutes 계산 ━━━━━━━━━━━━━━━━━━━━━━━┓
                let result_M = nm - sm;
                if(ns < ss) {
                    result_M -= 1;
                }
                if(Math.sign(result_M) === -1) {
                    result_M += 60;
                }
                if(result_M < 10) {
                    result_M = "0"+result_M;
                }
                //━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
                // Seconds 계산 ━━━━━━━━━━━━━━━━━━━━━━━┓
                let result_S = ns - ss;

                if(Math.sign(result_S) === -1) {
                    result_S += 60;
                }
                if(result_S < 10) {
                    result_S = "0"+result_S;
                }
                //━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

                return result_M + " : " + result_S;
            },

            stopDiagnosis: function () { // 진단 강제 종료 버튼
                axiosPost("/api/diagnosis/testStop/"+vueApp.pageData.dataList.locid, null,
                    function () {
                        vueApp.pageData.autoRun = false;
                        clearInterval(vueApp.pageData.intervalId);
                        vueApp.pageData.diagnosisData.message = "커넥터를 분리해주세요.\n[돌아가기] 버튼을 클릭해주세요.";
                        vueApp.pageData.mileageButton = true;
                        vueApp.pageData.homeMoveCon = false;
                        vueApp.pageData.buttonValue = 2;
                    }
                )
                this.resetLeftTime();
            },
            goConnectionPage: function () {
                if(this.pageData.managerDataOfSession === 'root') {
                    location.replace("/view/mobileWeb/diagnosis/DeviceConnection");
                } else {
                    location.replace("/view/mobileWeb/diagnosis/StaffDeviceConnection");
                }
            },
            customerCarMakerCheck: function (vmlSwitch) { // 차량 제조사 선택하면 차량모델 셀렉박스가 열리며 제조사에 해당하는 차량만 나옴
                axiosGet("/api/code/customerCarNameSelectBox/" + vueApp.pageData.dataList.carMaker, null,
                    function (response) {
                        vueApp.pageData.vmlCodeSelectBox = response.data;
                        if(vmlSwitch === false) {
                            vueApp.pageData.dataList.carName = "";
                        } else {
                            vueApp.pageData.vmlSwitch = false;
                        }
                    }
                )
            },


            /*=============================================================
                         진단 진행 중에 홈화면으로 이동시, 데이터 저장
            =============================================================*/
            dataSaveBeforeMoving: function () {
                axiosPost("/api/diagnosis/guestDataSaveBeforeMoving", vueApp.pageData.dataList,
                    function () {
                        if(vueApp.pageData.managerDataOfSession === 'root') {
                            location.replace("/view/mobileWeb/home/Home");
                        } else {
                            location.replace("/view/mobileWeb/diagnosis/StaffDeviceConnection");
                        }
                    }
                )
            },
            noSaveMoving: function () {
                if(this.pageData.managerDataOfSession === 'root') {
                    location.replace("/view/mobileWeb/home/Home");
                } else {
                    location.replace("/view/mobileWeb/diagnosis/StaffDeviceConnection");
                }
            },



            /*=============================================================
                         진단 시작 버튼 누르고 서버와 통신중의 로딩창
            =============================================================*/
            loading: function () {
                //화면의 높이와 너비를 구합니다.
                var maskHeight = $(document).height();
                var maskWidth = window.document.body.clientWidth;

                //화면에 출력할 마스크를 설정해줍니다.
                var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
                var loadingImg = '';

                loadingImg += "<div id='loadingImg'>";
                loadingImg += " <img src='/img/loading.gif' style='position: relative; display: block; margin: 0px auto;'/>";
                loadingImg += "</div>";

                //화면에 레이어 추가
                $('body')
                    .append(mask)
                    .append(loadingImg)

                //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
                $('#mask').css({
                    'width' : maskWidth
                    , 'height': maskHeight
                    , 'opacity' : '0.3'
                });

                //마스크 표시
                $('#mask').show();

                //로딩중 이미지 표시
                $('#loadingImg').show();
            },
            closeLoading: function () {
                $('#mask, #loadingImg').hide();
                $('#mask, #loadingImg').remove();
            },




            /*=============================================================
                                   진단기 상태 초기화
            =============================================================*/
            resetDeviceStatus: function () { // 고객 테이블 생성에 실패 시, 혹은 팝업 닫을 시 진단기 상태를 다시 대기로 변경
                axiosPut("/api/diagnosis/statusReset/" + vueApp.pageData.dataList.locid+"/"+vueApp.pageData.managerDataOfSession, null,
                    function () {
                        if(vueApp.pageData.resetSort === true) {
                            alert("진단을 취소합니다. 선택한 진단기가 Standby 상태로 돌아갑니다.");
                        } else {
                            alert("진단을 준비하는 동안 오류가 발생했습니다. 다시 시도해주세요.")
                        }
                        vueApp.pageData.dataList = {};
                        if(vueApp.pageData.managerDataOfSession === 'root') {
                            location.replace("/view/mobileWeb/diagnosis/DeviceConnection");
                        } else {
                            location.replace("/view/mobileWeb/diagnosis/StaffDeviceConnection");
                        }
                    },
                    function (error) {
                        console.log(error.response);
                        alert("error : " + error.response.data.errorMessages[0]);
                    },
                    commonNotifyError
                )
                this.resetLeftTime();
            },

            // -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; vueMounted -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;

            managerIdOfSession: function () { // 화면에 보여줄 관리자 아이디 가져오기
                axiosGet("/api/system/manager", null,
                    function (response) {
                        vueApp.pageData.managerDataOfSession = response.data;
                    }
                )
            },
            vehicleVarList: function(item) {
                axiosGet("/api/code/getCodeSelectBox/" + item, null,
                    function (response) {
                        vueApp.pageData.varCodeSelectBox = response.data;
                    },
                    function (error) {
                        console.log(error.response);
                        alert("error : " + error.response.data.errorMessages[0])
                    },
                    commonNotifyError
                )
            },
            yearSelectBoxSetting: function () {
                let todayDate = new Date()
                let year = todayDate.getFullYear();
                for(let i = 0; i < 10; i++) {
                    this.pageData.yearSelectBox[i] = {year: year - i};
                }
            },


            recallData: function (locid) { // 이전에 실행해둔 진단으로 돌아왔을 시
                this.loading();
                this.pageData.buttonValue = 3;
                this.pageData.error15secondsCheck = false;
                this.pageData.mileageButton = false;
                this.pageData.homeMoveCon = true;
                axiosGet("/api/diagnosis/guestRecallData/"+locid, null,
                    function (response) {
                        vueApp.pageData.dataList = response.data;
                        vueApp.pageData.vmlSwitch = true
                        vueApp.customerCarMakerCheck(vueApp.pageData.vmlSwitch);
                        vueApp.pageData.autoRun = true;
                        vueApp.realTimeData();
                    }
                )
            },
            guestGetLocid: function () {
                axiosGet("/api/diagnosis/guestGetLocid", null,
                    function (response) {
                        vueApp.pageData.dataList.locid = response.data;
                    }
                )
            }

        }
        function vueMounted() {
            //this.workTimer();
            this.managerIdOfSession();
            this.vehicleVarList(this.pageData.item);
            this.yearSelectBoxSetting();
            /*URL 파라미터 가져오기*/
            let query = window.location.search;
            let param = new URLSearchParams(query);
            let locid = param.get('locid');
            if(locid != 0){
                this.recallData(locid);
            } else {
                this.guestGetLocid();
            }
        }

    </script>
</th:block>
<th:block layout:fragment="scriptAfterCreateVue">
</th:block>
</html>

-->
